<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.springtest.dao.BoardDao">
  <select id="getBoardList" resultType="kr.green.springtest.vo.BoardVo">
  	select * 
  		from board 
  		where isDel = 'N'
  		order by num desc limit 0, 10
  </select>
  <select id="getBoard" resultType="kr.green.springtest.vo.BoardVo">
  	select *
  		from board
  		where num = #{num}
  </select>
    <insert id="insertBoard">
  	insert into
  		board(title, content, writer)
  		values(#{board.title}, #{board.content}, #{board.writer})
  </insert>
  <update id="updateBoard">
  	update board
  		set
  			title = #{board.title},
  			content = #{board.content},
  			isDel = #{board.isDel},
  			delDate = #{board.delDate},
  			views = #{board.views}
  		where
  			num = #{board.num}
  </update>
  <select id="listPage" resultType="kr.green.springtest.vo.BoardVo">
		select
			*
		from
			board
		order by number desc
		limit #{pageStart}, #{perPageNum}
	</select>
    <select id="countBoard">
		select
			count(number)
		from
			board
	</select>
	<select id="getTotalCount" resultType="int">
	select count(*)
		from board 
		where isDel = 'N'
	</select>
</mapper>
