@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    font-family: 'Malgun Gothic', '맑은고딕', sans-serif;
}
input[type=text], input[type=password] {
    background: #ffffff;
    width: 126px;
    height: 19px;
    padding: 3px 1px 2px 1px;
    color: #444;
    text-indent: 7px;
    text-indent: 0;
    vertical-align: middle;
    border: 1px solid #ccc;
}
li{
    list-style: none;
    
}
label{
    cursor: pointer;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color: black;
}
.wrap{
    width: 1200px;
    margin: 0 auto;
    position: relative;
}
.header h1{
    float: left;
}
.top-menu{
    height: 23px;
}
.top-menu ul{
    float: right;
}
.top-menu ul li{
    float: left;
    padding: 0 10px;
    position: relative;
}
.top-menu > ul li a{
    font-size: 12px;
}
.top-menu > ul li a::after{
    display: block;
    content: '';
    position: absolute;
    top: 8px;
    right: 0px;
    width: 1px;
    height: 10px;
    border-left: 1px solid black;
    opacity: 0.4;
}
.side-menu{
    height: 95px;
    line-height: 78px;
}
.side-menu h1{
    height: 60px;
    padding: 75px 0 0 40px;
}
.side-menu .logo{
    background: url(../css/img/logo_pc.png) center 0 no-repeat;
    background-size: 70px;
    font-size: 13px;
    width: 100px;
    padding-top: 70px;
    font-weight: bold;
    text-align: center;
}
.side-menu ul{
    float: right;
}
.side-menu>ul>li{
    text-align: center;
    float: left;
    font-size: 17px;
    height: 100%;
    width: 170px;
    line-height: 90px;
}
.side-menu ul li:hover{
    cursor: pointer;
    background-color: #68b3ce;
}
.main-container{
    height: 700px;
    border: 1px solid green;
    position: relative;    
    background-image: url(../css/img/Korea_Seoul_city_scenery_Photography_Wallpaper_06_1366x768.jpg);
}
.ticketing-container{
    width: 450px;
    /* border: 1px solid blue; */
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    position: absolute;
    right: 420px;
    top: 0;
    box-sizing: content-box;
    text-align: center;
}
.tic-box{
    /* height: calc(100% - 10%); */
    margin-top:40px;
    padding: 50px 0;
    /* border: 1px solid purple; */
}
.route-box{
    margin: 0 auto;
    height: 35px;
    width: 449px;
    font-size: 18px;
    text-align: center;
    box-sizing: border-box;
    background-color: #FFF;
    border-radius: 5px;
    line-height: 35px;
    display: flex;
    overflow: hidden;
}
.route-box li:hover{
    cursor: pointer;
}
.route-box li:first-child{
    float: left;
    height: 100%;
    width: 100%;
    border-right:1px solid #e6e6e6;
}
.route-box .one-way{
    background-color: #e6e6e6;
}
.route-box .one-way.active{
    background-color: #fff;
}
.route-box .one-way.active a{
    color: #68b3ce;
}
.route-box .one-way.active a::before{
    display: inline-block;
    content: '';
    background: url(../css/img/ico_oneway_on.png) 0 0 no-repeat;
    background-size: 100%;
    width: 19px;
    height: 12px;
    margin-right: 5px;
}
.route-box .one-way.active a::after{
    display: inline-block;
    content: '';
    background: url(../css/img/ico_tab_s_on.png) 0 0 no-repeat;
    background-size: 100%;
    width: 11px;
    height: 12px;
    margin-left: 6px;
}
.route-box .one-way a{
    color: #999;
}
.route-box .one-way a::before{
    display: inline-block;
    content: '';
    background: url(../css/img/ico_oneway.png) 0 0 no-repeat;
    background-size: 100%;
    width: 19px;
    height: 12px;
    margin-right: 5px;
}
.route-box .round-trip{
    width: 100%;
    float: right;
    background-color: #e6e6e6;
}
.route-box .round-trip a{
    color: #999;
}
.route-box .round-trip a::before{
    display: inline-block;
    content: '';
    background: url(../css/img/ico_roundtrip.png) 0 0 no-repeat;
    background-size: 100%;
    width: 19px;
    height: 19px;
    margin:0 9px -4px 0;
}
.route-box .round-trip.active{
    background-color: #fff;
}
.route-box .round-trip.active a{
    color: #68b3ce;
}
.route-box .round-trip.active a::before{
    display: inline-block;
    content: '';
    background: url(../css/img/ico_roundtrip_on.png) 0 0 no-repeat;
    background-size: 100%;
    width: 19px;
    height: 19px;
    margin:0 9px -4px 0;
}
.route-box .round-trip.active a::after{
    display: inline-block;
    content: '';
    background: url(../css/img/ico_tab_s_on.png) 0 0 no-repeat;
    background-size: 100%;
    width: 11px;
    height: 12px;
    margin-left: 6px;
}
.tic-wrap .place-box{
    margin: 20px auto;
    width: 100%;
    height: 100px;
}
.place-box > li{
    position: relative;
    box-sizing: border-box;
    border-radius: 5px;
    float: right;
    height: 100%;
    width: calc(50% - 4px);		
    background-color: #f3f4f6;		
}
.place-box > li:first-child{
    float: left;
}
.place-box .name{
    display: block;
    font-size: 14px;
    padding: 0 0 0 10px;
    float: left;
}
.place-box .text{
    height: 60px;
    text-align: center;
    float: left;
    color: #b3b3b3;
    font-size: 23px;
    line-height: 48px;
    padding: 0 45px 0 12px;
}
.button-change{
    width: 35px;
    height: 35px;
    position: absolute;
    background:url(../css/img/arrow_toggle_s.png) 0 5px no-repeat;;
    right: -21px;
    z-index: 50;
    top: 35px;
}
.place-box > li,
.date-box >li,
.grade-box >li{
    padding: 15px;
}
.date-box >li{
    margin:0 auto;
    position: relative;
    height: 100px;
    background: #f3f4f6;
    border-radius: 5px;
}
.date-box .name{
    position: relative;
    right:177px;
    padding-left: 10px;
    font-size: 17px;
}
.date-box .name .text{
    height: 60px;
    padding: 5px 0 0;
    font-size: 19px;
    color: #000;
    line-height: 1.3;
}
.grade-box > li{
    margin: 0 auto;
    background: #f3f4f6;
    height: 100px;
    border-radius: 5px;
}
.grade-box .grade{
    height: 90px;
}
.grade-box .grade .name{
    position: relative;
    right: 180px;
}
[class^='custom_radio']{
    display: inline-block;
    position: relative;
    line-height: 1;
    z-index: 100;
}
[class^='custom_radio'] input {
    overflow: hidden;
    width: 1px;
    height: 1px;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}
[class^='custom_radio'] label {
    padding-right: 20px;
    color: #bfbfbf;
}
.grade-box p{
    margin-top: 10px;
    font-size: 16px;
}
.gradeAll input:checked + label {
    background: url(../css/img/ico_grade_s_on.png) right 4px no-repeat;
    background-size: 15px;
    color: #000;
}
.grade-box .grade label:hover{
    color: #000;
}
.grade-box .grade2 label {
    background: url(../css/img/ico_grade2_s.png) right 0 no-repeat;
    background-size: 23px;
    font-size: 25px;
    padding-right: 25px;
    height: 30px;
}

.grade-box .grade2 input + label:hover, .grade-box .grade2 input:checked + label {
    background: url(../css/img/ico_grade2_s_on.png) right 0 no-repeat;
    background-size: 23px;
    color: #000;
}
.grade-box .grade3 label {
    background: url(../css/img/ico_grade3_s.png) right 0 no-repeat;
    font-size: 25px;
    padding-right: 25px;
    height: 30px;
    background-size: 23px;
}
.grade-box .grade3 input + label:hover, .grade-box .grade3 input:checked + label {
    background: url(../css/img/ico_grade3_s_on.png) right 0 no-repeat;
    background-size: 23px;
    color: #000;
}
.grade-box .grade .custom_radio input:checked + label:after {
    display: inline-block;
    content: '';
    position: absolute;
    top: 3px;
    right: -23px;
    background: url(../css/img/ico_grade_s_on.png) 0 0 no-repeat;
    background-size: 15px;
    width: 20px;
    height: 20px;
}
.grade-box .grade .gradeAll input:checked + label:after {
    display: none;
}
.complete{
    margin: 10px auto;
    margin-top: 30px;
    overflow: hidden;
    height: 80px;
    font-size: 20px;
    border-radius: 10px;

}
.btn-complete{
    width: 100%;
    height: 100%;
    color: #fff;
    font-weight: bold;
    background: #b8becc;
    border: none;
    cursor: pointer;
}
.btn-complete:hover{
    background: #a1abc2;
}
.btn-complete:focus{
    outline: none;
}
#login-column{
    margin:0 auto;
}
.ticket-confirm{
    height: 100%;
}
/* =============================================================================================================== */
input:focus{
    outline:none;
}
.page{
    width: 1000px;
    margin: 0 auto;
    padding: 30px 40px 100px;
}
.noti-wrap{
    padding-bottom: 25px;
    text-align: center;
}
.noti-wrap > p{
    font-size: 24px;
}
.container-info{
    border: 1px solid #e6e6e6;
}
.container-info .box-info{
    margin: 30px auto;
    width: 500px;
    position: relative;     
}
.box-inputForm{
    position: relative;
    padding: 7px 12px;
    margin-top: 10px;
    background-color: #f3f4f6;
}
.box-inputForm strong{
    display: block;
    font-size: 12px;
}
.box-label{
    display: inline-block;
    position: relative;
    width: 100%;
    height: 28px;
}
.box-label input{
    width: 100%;
    height: 28px;
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
    font-size: 16px;
    color: #000;
}
.box-inputForm .radio-wrap{
    margin: 6px 0px;
}
.custom-radio{
    display: inline-block;
    position: relative;
    width: calc(50% - 10px);
}
.btns{
    margin-top: 30px;
    text-align: center;
}
.btn-ready{
    background-color: #b8becc;
    color: white;
}
.btnL{
    display: inline-block;
    min-width: 130px;
    height: 50px;
    padding: 0 20px;
    font-size: 16px;
    text-align: center;
    line-height: 50px;
    border: none;
    vertical-align: middle;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.box-info #year,#month,#day{
    width:calc((100% - 84px)/3);
    display: inline-block;
}
#month{
    width: 139px;
    border: none;
    background-color:#f3f4f6;
}
.box-info #phone{
    position: relative;
    display: inline-block;
    width: 70%;
}
.btn-send{
    position:absolute;
    width: 25%;
    font-size: 14px;
    background-color:#b8becc;
    color: white;
    float: left;
    text-align: center;
    margin-top: 10px;
    height: 58px;
    line-height: 58px;
}
.box-limit{
    overflow: hidden;
    margin-top: 8px;
}
.box-limit button{
    float:right;
    border: 1px solid #d9d9d9;
    color: #666;
    height: 30px;
    padding: 0 10px;
    font-size: 12px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}
/* 운행정보 페이지*/
.course{
    position: relative;
}
.course .place-box{
    width: calc(40% - 5px);
    float: left;
    margin: 5px;
}
.course .date-box{
    width: calc(40% - 5px);
    float: right;
}
/* 출발 도착지 선택창 */
.remodal {
    padding: 0;
    width: auto;
    min-width: 460px;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 10px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    color: #2b2e38;
    background: #fff;
}

.remodal-overlay {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 9999;
    top: -5000px;
    right: -4999px;
    bottom: -5000px;
    left: -5000px;
}
.remodal-wrapper {
    position: fixed;
    z-index: 10000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    text-align: center;
}
.remodal-wrapper.full{
    padding: 0;
}
.pop_place {
    width: 740px;
}
.remodal-is-initialized {
    display: inline-block;
}
.remodal .title {
    position: relative;
    background: #68b3ce;
    padding: 8px 0;
    font-size: 22px;
    color: #fff;
}
.remodal-close {
    right: 0;
    left: inherit;
    width: 46px;
    height: 46px;
    color: #767676;
}
.remodal-close {
    position: absolute;
    top: 0;
    display: block;
    overflow: visible;
    margin: 0;
    padding: 0;
    cursor: pointer;
    transition: color 0.2s;
    text-decoration: none;
    border: 0;
    outline: 0;
    background: transparent;
}
.remodal-close:before {
    content: '';
    background: url(../css/img/close_mobile.png) center center no-repeat;
    background-size: 16px;
    width: 16px;
    height: 16px;
    padding: 15px;
}
.remodal-close:focus{
    outline: none;
}
.pop_place .cont {
    padding: 30px 30px 0;
}
.remodal .cont {
    position: relative;
    padding: 25px 30px;
    text-align: left;
}
.pop_place .place {
    position: relative;
    height: 86px;
    padding: 0 8px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.pop_place .place li {
    float: right;
    position: relative;
    background: #f3f4f6;
    width: calc(50% - 4px);
    height: 86px;
    padding: 12px 15px 12px 18px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.pop_place .place .focuson {
    background: #fff;
    z-index: 100;
}
.pop_place .place li:first-child {
    float: left;
}
.pop_place .place li .stit {
    padding: 0;
}
.pop_place .stit {
    padding: 0 8px;
    font-size: 14px;
    color: #68b3ce !important;
}
.pop_place .place .text {
    font-size: 24px;
    color: #000;
    line-height: 1.2;
}
.pop_place .place .text .empty_txt {
    /* display: none; */
    color: #b3b3b3;
}
.pop_place li .empty_txt {
    display: block;
    font-size: 18px;
    cursor: pointer;
}
.pop_place .place .focuson:after {
    display: inline-block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #76c6e1;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: 0 0 7px 0 rgba(118,198,225,1);
}
.pop_place .place li {
    float: right;
    position: relative;
    background: #f3f4f6;
    width: calc(50% - 4px);
    height: 86px;
    padding: 12px 15px 12px 18px;
    box-sizing: border-box;
}
.pop_place .place .btn_change {
    position: absolute;
    top: 28px;
    left: 50%;
    background: #FFF url(../css/img/ico_arrow.png) center center no-repeat;
    background-size: 14px 9px;
    width: 30px;
    height: 30px;
    margin-left: -17px;
    font-size: 0;
    border: 1px solid #cecfd1;
    border-radius: 50%;
    z-index: 50;
}
.pop_place .search_wrap {
    padding: 15px 8px 0;
}
.pop_place .start_wrap, .pop_place .terminal_wrap, .pop_place .search_wrap {
    margin-top: 20px;
    padding-top: 15px;
    border-top: 1px solid #999;
    box-sizing: border-box;
}
.pop_place .search_wrap p {
    position: relative;
    background: #f3f4f6;
    height: 40px;
    margin-top: 5px;
    border: 2px solid #fff;
}
/* focus */
.pop_place .search_wrap .focus {
    background-color: #fff;
    border: 2px solid #76c6e1;
    box-shadow: 0 0 7px 0 rgba(118 , 198, 225, 1);
    display: none;
}
.easy-autocomplete {
    position: relative;
    width: 100% !important;
    margin-top: 2px;
}
.pop_place .search_wrap input {
    position: absolute;
    background:  #f3f4f6;
    width: 100%;
    height: 40px;
    padding: 0 12px 0 4px;
    border: none;
    line-height: 40px;
    box-sizing: border-box;
    z-index: 100;
    font-size: 12px;   
}
.easy-autocomplete-container {
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 2;
}

.pop_place .easy-autocomplete-container ul li {
    height: 40px;
    padding: 0 8px;
    font-size: 18px;
    line-height: 40px;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #e6e6e6;
    background: #f7f7f7;
}
.easy-autocomplete-container ul li, .easy-autocomplete-container ul .eac-category {
    background: inherit;
    border-color: #ccc;
    border-image: none;
    border-style: solid;
    border-width: 0 1px;
    display: block;
    font-size: 14px;
    font-weight: normal;
    padding: 4px 12px;
}
.easy-autocomplete-container ul li div {
    display: block;
    font-weight: normal;
    word-break: break-all;
}
.pop_place .search_wrap .btn {
    top: 1px;
    right: 0;
    background: #f3f4f6;
    color: #fff;
    width: 45px;
    height: 38px;
    font-size: 0;
    float: right;
    z-index: 200;
}
.pop_place .ternimal_box:before {
    display: inline-block;
    content: '';
    position: absolute;
    top: 0;
    left: 135px;
    width: 1px;
    height: 100%;
    border-left: 1px solid #e6e6e6;
}
.scrollbar-inner .scroll-content {
    margin: 0 !important;
}
.pop_place .terminal_wrap .stit {
    padding-left: 16px;
    font-size: 14px;
}

.scroll-wrapper > .scroll-content {
    border: none !important;
    box-sizing: content-box !important;
    height: auto;
    left: 0;
    margin: 0;
    max-height: none;
    max-width: none !important;
    overflow: auto !important;
    -webkit-overflow-scrolling: touch;
    padding: 0;
    position: relative !important;
    top: 0;
    width: auto !important;
}
.pop_place .area_list {
    width: 135px;
}
.pop_place .area_list li {
    padding: 8px 8px 0 8px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
}
.pop_place .area_list li.active span {
    background: #68b3ce;
    color: #fff;
}
.pop_place .area_list li span {
    display: block;
    min-height: 33px;
    background: #f3f4f6;
    padding: 6px 10px;
    font-size: 16px;
    line-height: 1.3;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.pop_place .terminal_list {
    position: absolute;
    top: 0;
    right: 0;
    width: -webkit-calc(100% - 170px);
    width: -moz-calc(100% - 170px);
    width: calc(100% - 170px);
    /* display: none; */
}
.pop_place .area_scroll, .pop_place .terminal_scroll {
    height: 420px;
}
.course-box{
    width: 100%;
    display: inline-block;
    padding:10px;
    margin: 0 auto;
}
.course-box .place-box,
.course-box .date-box,
.course-box .grade-wrap,
.course-box .complete{
    margin-top: 20px;
    width: calc(50% - 4px);
    float: left;
}
.course-box .place-box{
    height: 115px;
}
.course-box .date-box{
    float: right;
}
.course-box .date-box li{
    height: 83px;
    padding: 15px;
    margin: 0;
}
.grade-wrap .grade-box li{
    margin: 0;
    width: 93.5%;
}
.grade-wrap .complete{
    float: left;
}
.pop_place .ternimal_box {
    overflow: hidden;
    position: relative;
    height: 420px;
    margin-top: 5px;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}
.pop_place .ternimal_box:before {
    display: inline-block;
    content: '';
    position: absolute;
    top: 0;
    left: 135px;
    width: 1px;
    height: 100%;
    border-left: 1px solid #e6e6e6;
}
.pop_place .terminal_list {
    position: absolute;
    top: 0;
    right: 0;
    width: -webkit-calc(100% - 170px);
    width: -moz-calc(100% - 170px);
    width: calc(100% - 170px);
}
.pop_place .terminal_list li {
    float: left;
    width: 33.33%;
    border-bottom: 1px solid #e6e6e6;
}
.pop_place .terminal_list li span {
    display: block;
    height: 40px;
    font-size: 16px;
    color: #999;
    line-height: 40px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.display-none{
    display: none !important; 
}
.pop_place .terminal_list li:hover span { color: #68b3ce; cursor: pointer;}

.ui-datepicker-trigger {
    display: block;
    position: absolute;
    right: 20px;
    top: 60%;
    width: 40px;
    height: 35px;
    margin-top: -13px;
    font-size: 0;
    cursor: pointer;
}
.text .hasDatepicker{
    display: block;
    width: 230px;
    height: 50px;
    padding-left: 10px;
    font-size: 30px;
    color: #000;
    background-color: transparent;
    border: none;
}
.hasDatepicker:focus{
    outline: none;
}
