<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberMapper">
	
	<insert id="insertMember" parameterType="MemberSignupDto">
	    
		INSERT INTO member
		VALUES(#{id}, #{name}, #{telNo}, #{email}, #{passwd}, #{gbnCd}, #{genderCd})
	    
	</insert>
	
	<insert id="insertFile" parameterType="hashMap">
	    
	    INSERT INTO save_file
	    VALUES(
	    	#{id},
	    	SEQ_SAVE_FILE_NO.NEXTVAL,
	    	#{fileName},
	    	#{saveFileName},
	    	#{fileSavePath}
	    )
	    
	</insert>
	
	<select id="findMemberById" resultType="String">
	    
	    SELECT id
	    FROM member
	    WHERE id = #{id}
	    
	</select>
	
	<select id="findMemberByIdWithPw" parameterType="MemberLoginDto" resultType="String">
	    
	    SELECT id
	    FROM member
	    WHERE id = #{id} AND passwd = #{passwd}
	    
	</select>
	
	<select id="findAdminById" resultType="String">
	    
	    SELECT id
	    FROM member
	    WHERE id = #{id} AND gbn_cd = '003002'
	    
	</select>
	
	<select id="findMemberCdById" resultType="String">
	    
	    SELECT gbn_cd
	    FROM member
	    WHERE id = #{userId}
	    
	</select>
	
</mapper>