<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TimeTableMapper">
	
	<select id="getTimeTable" resultType="TimeTableDto">
	    
	    SELECT * FROM (	
			SELECT ROWNUM AS rn, A.* FROM (
				SELECT
					seq_no AS seqNo,
					start_time AS startTime,
					end_time AS endTime,
					bus_no AS busNo
				FROM
					time_table
				WHERE start_time like '%'||#{time}||'%'
				ORDER BY
					seq_no DESC
			) A
		) WHERE rn BETWEEN #{start} AND #{end}
	    
	</select>
	
	<select id="getTimeTableById" resultType="TimeTableDto">
	    
	    SELECT 
	    	seq_no AS seqNo,
			start_time AS startTime,
			end_time AS endTime,
			bus_no AS busNo
	    FROM time_table
	    WHERE seq_no = #{id}
	    
	</select>
	
	<select id="getCountByTime" resultType="int">
	    
	    SELECT COUNT(*)
	    FROM time_table
	    WHERE start_time like '%'||#{time}||'%'
	    
	</select>
	
	<select id="findTimeTableByTime" resultType="int">
	    
	    SELECT seq_no AS seqNo
	    FROM time_table
	    WHERE start_time like '%'||#{time}||'%'
	    
	</select>
	
	<select id="findTimeTableBySeqNo" resultType="String">
	    
	    SELECT start_time AS startTime
	    FROM time_table
	    WHERE seq_no = #{seqNo}
	    
	</select>
	
	<insert id="createTimeTable">
	    
	    INSERT INTO time_table
	    VALUES(
	    	(SELECT NVL(MAX(seq_no) + 1, 1) FROM time_table),
	    	#{startTime},
	    	#{endTime},
	    	#{busNo}
	    )
	    
	</insert>
	
</mapper>